Package: com.dstmods.loader
Name: DST Mods Loader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Create Documents mods folder for DST
Maintainer: User
Author: User
Section: Tweaks
Depends: mobilesubstrate
